body {
    
    background-color: rgb(237, 210, 103);
}

.total {
    left: 40%;
    top: 25%;
    border: 3px solid;
    position: absolute;
    padding-top: 20px;
    width: 350px;
    height: 150px;
    /* background-color: rgb(130, 189, 188); */
}

.main {
    margin-top: 2%;
    margin-left: 15%;
    background-color: beige;
}

.but {
    border-radius: 10px;
    background-color: rgb(8, 181, 229);
}

#name {
    padding-left: 35px;
}

.end {
    color: red;
    background-color: gray;
    position: absolute;
    margin-top: 7%;
    margin-left: 10%;
    width: 80%;
}